body {
  font-family: "Montserrat", sans-serif;
}

header {
  background: #bbbbbb;
  padding: 40px 0;
}

.caixa {
  position: relative;
  width: 1700px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0%;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.produtos {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.produtos li:hover {
  border-color: #c78c19;
}

.produtos li:active {
  border-color: #088c19;
}

.produtos li:hover h2 {
  font-size: 34px;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.descricao {
  font-size: 18px;
}

.preco {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 0;
}

footer {
  text-align: center;
  background: url(bg.jpg);
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px;
}

/*css da página incial*/

.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 3px #000000;
  font-weight: bold;
}

.sobre {
  padding: 3em 0;
  background: #fefefe;
  width: 940px;
  margin: 0 auto;
}

.sobre p {
  margin: 0 0 1em;
}

.sobre strong {
  font-weight: bold;
}

.sobre em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  text-align: center;
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.mapa p {
  margin: 0 0 2em;
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.beneficios {
  padding: 3em 0;
  background: #888888;
}

.conteudo-beneficios {
  width: 640px;
  margin: auto;
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.5em;
}

.itens:first-child {
  font-weight: bold;
}

.itens:before {
  content: "★ ";
}

.imagem-beneficios {
  width: 60%;
  opacity: 1;
  box-shadow: 10px 10px 10px#000000;
}

.imagem-beneficios:hover {
  width: 60%;
  opacity: 0.3;
  transition: 400ms;
}

.video {
  width: 560px;
  margin: 2em auto;
}

/* adaptando pra celular*/

@media screen and (max-width: 480px) {
  .caixa {
    width: auto;
    margin: 0 0 0 6%
  }
  .sobre,
  .conteudo-beneficios,
  .mapa-conteudo,
  .video {
    width: auto;
    margin: 10% 10%;
  }

  .mapa p {
    margin: 5%;
  }

  .titulo-principal {
    margin: 0 1% 10% 1%;
  }

  h1 {
    text-align: center;
  }
  nav {
    position: static;
    text-align: center;
  }
  .lista-beneficios,
  .imagem-beneficios {
    width: 100%;
  }

  ul{
    max-width: 400px;
  }

  .produtos li {
    display: block;
    margin: 0 0 10% 5%;
    width: 90%;
  }

}
